/server/logs/(*)
server/__pycache__/
server/data
server/routes/__pycache__
/server/temp_uploads/
/server/__pycache__/
/server/.idea/
/front-end/.env
/server/.env
/node_modules
composite-debug.png
composite-result.png
debug-composite.png
error-report.json
imageOverlay.js
output.png
package-lock.json
package.json
.api
/frontend/.api
